DOCKER_HOST=<docker host e.g. unix://$HOME/.docker/desktop/docker.sock for docker compose>
TESTCONTAINERS_RYUK_DISABLED=true
DOCKER_COMPOSE_PATH=<absolute path to docker compose>
TEST_CONTAINERS_START_COMPOSE=true
