version: '3.8'


services:

  discovery-app:
    build:
      context: ./backend/discovery
      dockerfile: Dockerfile
    networks:
      - discovery-network
    ports:
      - "8761:8761"

  gateway-app:
    build:
      context: ./backend/gateway
      dockerfile: Dockerfile
    env_file:
      - ./backend/gateway/app-environment.env
    networks:
      - discovery-network
    ports:
      - "8080:8080"

  account-db:
    image: postgres:15-alpine
    env_file:
      - ./backend/account/db-environment.env
    networks:
      - account-network
    volumes:
      - account-db:/var/lib/postgresql/data

  account-app:
    build:
      context: ./backend/account
      dockerfile: Dockerfile
    env_file:
      - ./backend/account/app-environment.env
    networks:
      - account-network
      - discovery-network
    depends_on:
      - account-db
      - discovery-app
    ports:
      - "8081:8081"

  schedule-db:
    image: postgres:15-alpine
    env_file:
      - ./backend/schedule/db-environment.env
    networks:
      - schedule-network
    volumes:
      - schedule-db:/var/lib/postgresql/data

  schedule-app:
    build:
      context: ./backend/schedule
      dockerfile: Dockerfile
    env_file:
      - ./backend/schedule/app-environment.env
    networks:
      - schedule-network
      - discovery-network
    depends_on:
      - schedule-db
      - discovery-app
    ports:
      - "8082:8082"

  ticket-db:
    image: postgres:15-alpine
    env_file:
      - ./backend/ticket/db-environment.env
    networks:
      - ticket-network
    volumes:
      - ticket-db:/var/lib/postgresql/data

  ticket-app:
    build:
      context: ./backend/ticket
      dockerfile: Dockerfile
    env_file:
      - ./backend/ticket/app-environment.env
    networks:
      - ticket-network
      - discovery-network
    depends_on:
      - ticket-db
      - discovery-app
    ports:
      - "8083:8083"

volumes:
  account-db:
  ticket-db:
  schedule-db:

networks:
  discovery-network:
    driver: bridge
  account-network:
  ticket-network:
  schedule-network:
