.ticket {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
    color: #937DC2;
    display: flex;
    flex-direction: column;
    width: 8.5rem;
    text-align: center;
    cursor: pointer;

    .ticket-upper {
        background-color: #E7E7E7;
        border-radius: 15px;
        padding: 1rem 1rem 2rem 1rem;

        .type {
            margin-bottom: 1rem;
        }

        .time {
            font-weight: 700;
        }
    }

    .ticket-lower {
        padding: 1rem;
        .bold {
            font-weight: bold;
        }
    }
}