form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(95%, 600px);
    padding: 2rem 0;
}

h1 {
    margin-top: 50px;
}

app-language-select {
    position: absolute;
    top: 1%;
    right: 1%;
}

mat-form-field {
    width: 100%;
    margin-bottom: 0.5rem;
}

button {
    width: 120px;
}

button:first-of-type {
    margin-right: 2rem;
}

.button-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullPassword {
    width: 100%;
}

form>mat-error {
    margin: 1rem 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
