main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F2F2F2;
    color: #937DC2;
    text-align: center;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(60%, 400px);
    gap: 3rem;
}

.ticket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    background-color: white;
}

.count {
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #E7E7E7;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;

    .element {
        background-color: white;
        border-radius: 50%;
        width: 2rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.long {
            border-radius: 10px;
            width: 3rem;
            cursor: default;
        }
    }
}

button {
    background-color: #937DC2;
    color: white;
    border-radius: 5px;
    width: min(60%, 300px);

    &.back {
        width: 100%;
    }

    &:disabled {
        background-color: #E7E7E7;
    }
}

p {
    margin: 0;
    font-size: 0.75rem;
}

footer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    width: 100%;
    padding: 2rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}