<main>
    <section *ngIf="ticket; else noTicketSelected">
        <div class="ticket-container">
            <app-ticket [ticket]="ticket">
            </app-ticket>
        </div>
        <p>{{ "TICKET.PURCHASE_DISCLAIMER" | translate }}</p>
        <footer>
            <mat-form-field appearance="fill">
                <mat-label for="rideId">{{ "TICKET.RIDE_ID" | translate }}</mat-label>
                <input id="rideId" type="text" matInput [(ngModel)]="rideId">
            </mat-form-field>
            <button mat-button [disabled]="!rideId" (click)="punch()">{{ "TICKET.PUNCH_TICKET" | translate }}</button>
        </footer>
    </section>
    <ng-template #noTicketSelected>
        <section>
            {{ "TICKET.NO_TICKET_SELECTED" | translate }}
            <button mat-button class="back" [routerLink]="['/tickets/owned']">{{"COMMON.BACK" | translate}}</button>
        </section>
    </ng-template>
</main>